# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data pipeline outputs
data/raw/
data/extracted/
data/processed/
data/chunks/
data/embeddings/
data/vector_db/
data/logs/
data/evaluation/generated/
data/metadata/
data/retrieval/

# PDF / datasets
*.pdf
*.parquet
*.faiss
*.npy
*.npz
*.bin

# Chroma / Qdrant
chroma/
qdrant_storage/

# HF cache
.cache/
hf_cache/
models/

# Environment
.env

# VSCode
.vscode/

# pytest
.pytest_cache/